body {
  background-color: white
}

div.content {
  padding: 0;
  margin: 0;
}

/* Generic Reset */
h1,
h2,
h3,
h4,
h5,
h6,
ol {
  font-family: 'Rye';
  color: #000;
  padding: 0;
  margin: 0;
}

/* Form */ 
form{
  width: 80% !important;
}   
button {
  font-family: 'Rye';
  font-size: 26px;
  background-color:transparent;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: transparent !important;
  border: none !important;
}

button:focus {
  outline: 0;
}

.error-message {
  font-size: 18px;
  color: #c70000;
  margin-bottom: 10px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #c73800 !important;
}

input, select, textarea {
  border: 1px solid #6e6e6e !important;
  font-family: 'Tmes New Roman', Times, serif;
  padding: 14px !important;
  margin: 10px 0px 0px 0px !important;  
  font-size: 24px !important;
  color:rgb(148, 148, 148);
  border-radius: 8px;
}

input::placeholder,
textarea::placeholder, 
select::placeholder {
  color: rgb(184, 184, 184) !important;
}

/* End Form */
